.App {
  text-align: center;
  color:#282c34;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nav-area {
  width:100%;
  align-content: flex-start;
  text-align: left;
  position: fixed;
  align-items: center;
  margin: 0 auto;
  padding: 8px;
  top: 70px;
  height: 6rem;
  left:15%;
  background-color: #333;

  border-radius: 8px;
}

.navbar{
  width:100%;
  align-content: flex-start;
  text-align: left;
  position: fixed;
  top:0;
  left:15%;
  background-color: #333;
  height: 6rem;
  padding: 1rem;
  border-radius: 8px;
}

.navbar-list{
  display: flex;
  list-style-type: none;
  margin:0px;
  padding: 0px;
}

.navbar-item a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-size: 1.5rem; 
  display: block;
}

.navbar-item a:hover {
  background-color: #575757;
  font-size: 2rem; /* 增大字体大小 */
  border-radius: 4px;
}
