.markdown-container
{
    font-size: 18px;
}

/* 自定义代码块样式 */
.markdown-container pre {
    background-color: transparent; /* 背景色 */
    padding: 10px; /* 内边距 */
    border-radius: 5px; /* 圆角边框 */
    border: 0px solid #5a5a5a; /* 边框 */
    overflow-x: auto; /* 横向滚动条 */
  }

.markdown-container code
{
    font-family: 'Courier New', 'Courier New', Courier, monospace;
}